*{
    
    font-family: 'Akatab';
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
}
.Calculator
{
    padding-top: 80px;
    margin: 50px;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    text-align: center;
    font-size: 30px;
}
input
{
    padding: 25px;
    width: 230px;
    margin: 10px;
    font-size: 25px;
    background: transparent;
    border: 3px solid grey;
}




button
{
    padding: 21px;
    margin: 10px;
    border-radius: 100%;
    border: 3px solid grey;
    background: transparent;
    
    -webkit-text-fill-color: rgb(247, 26, 147);
}
.row
{
    padding: 2px;
    margin: 2px;
}